
@enabledButtonColor: #AAAAFF;
@disabledButtonColor: #CCCCCC;

.playAreaContainer {
  display: flex;
  flex-wrap: wrap;
}

.playerStatusCardContainer, .playerStatusSpacer {
  flex-basis: calc(50%);
}

.playerStatusSpacer {
    flex: 0 0 50%;
    visibility: hidden;
}

.gameStatusContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px;
}

.gameStatusText {
  font-weight: 600;
}

.gameStatusNavButton {
  color: @enabledButtonColor;
  width: 36px;
  height: 36px;
  cursor: pointer;

  &.disabled {
    color: @disabledButtonColor;
    cursor: unset;
  }

  &.hidden {
    visibility: hidden;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(200, 200, 200, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}