@defaultBlueColor: #DDDDFF;
@defaultGreenColor: #DDFFDD;
@enabledButtonColor: #AAAAFF;
@disabledButtonColor: #CCCCCC;
@activePlayerColor: #8888DD;

:root {
  --defaultBlueColor: @defaultBlueColor;
  --defaultGreenColor: @defaultGreenColor;
  --enabledButtonColor: @enabledButtonColor;
  --disabledButtonColor: @disabledButtonColor;
}

.wrappingContainer {
  display: flex;
  flex-wrap: wrap;
}

.numberDisplayBackground {
  position: relative;
  margin: 6px;
  border-radius: 12px;
  width: var(--width, 70px);
  height: 70px;
  display: flex;
  justify-content: center;
  font-weight: 800;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/coin-bw.png');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 1;
  }

  &:not(.disabled):hover::before {
    opacity: 0.8;
  }

  &.selected::before {
    background-image: url('/images/coin.png');
  }

  &.disabled {
    cursor: default;
  }

  .numberDisplayContainer {
    position: relative;
    z-index: 2;
    padding: 24px;
    display: flex;
    justify-content: center;
    font-weight: 800;
  }
}

.playerStatusBackground {
  position: relative;
  margin: 6px;
  border-radius: 12px;
  min-width: 150px;
  min-height: 150px;
  cursor: pointer;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/map-color.png');
    background-size: cover;
    background-position: center;
    opacity: 0.35;
    z-index: 1;
  }

  &:not(.disabled):hover::before {
    opacity: 0.75;
  }

  &.dealer {
    outline: 4px solid @activePlayerColor;
  }

  &.disabled::before {
    background-image: url('/images/map-bw.png');
    cursor: default;
  }

  .playerStatusContainer {
    position: relative;
    z-index: 2;
    padding: 12px;
  }
}

.bonusInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bonusChangeButton {
  color: var(--enabledButtonColor);
  width: 36px;
  height: 36px;
  cursor: pointer;

  &.disabled {
    color: var(--disabledButtonColor);
    cursor: default;
  }
}

.scoreText {
  font-weight: 600;
}