// Variables
@banner-width: 300px;
@button-height: 50px;
@container-width: 75%;
@position-top: 47%;

// Mixins
.centered-absolute() {
  position: absolute;
  top: @position-top;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gameSetupContainer {
  display: flex;
  justify-content: center;
  position: relative;
}

.imageContainer {
  position: relative;
}

.bannerImage {
  width: @banner-width;
  height: auto;
}

.buttonsContainer {
  .centered-absolute();
  width: @container-width;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gameButton {
  height: @button-height;
  cursor: pointer;
}