.playerList {
  display: flex;
  align-items: flex-start;
}

.playerDisplay {
  display: flex;
  align-items: baseline;
}

.buttonStyle {
  background-color: #4f779f;
  font-size: 18px;
  line-height: 14px;
}

.pirateFont {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
  }